/* TechIconLoader.css */
.loader-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f8f8f8; /* Optional: for contrast */
}

.text-line {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 5s linear forwards, filling 5s ease-in forwards;
  font-size: 45px; /* Larger text size */
  margin-bottom: 20px; /* Space between text and icons */
}

.text-line text {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes filling {
  0%,
  90% {
    fill: #333; /* Greyish color */
    fill-opacity: 0;
  }
  100% {
    fill: #333; /* Greyish color */
    fill-opacity: 1;
  }
}

.icon-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px; /* Space between icons */
}

.tech-icon {
  font-size: 1.5rem; /* Smaller icon size */
  color: #333; /* Greyish color */
  animation: bounce 0.8s ease-in-out infinite;
}

.tech-icon:nth-child(1) {
  animation-delay: 0ms;
}
.tech-icon:nth-child(2) {
  animation-delay: 200ms;
}
.tech-icon:nth-child(3) {
  animation-delay: 400ms;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}
